<div class="container-fluid">
    <div ng-bind-html="textoContato"></div>
     <div class="row">
        <div class="col-md-4">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FeeiSemeandoOAmanha&tabs=timeline&width=340&height=222&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="222" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
        <div class="col-md-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d147.0791614042828!2d-51.19834217750203!3d-30.070520467980042!2m2!1f0!2f39.50274004888789!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x0%3A0x84a7027288ba610c!2s150+ESC.ED.INF.SEMEANDO+O+Amanh%C3%A3!5e1!3m2!1spt-BR!2sbr!4v1495816933765" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>            
        </div>
    </div>
</div>